ajaxtut/*
app2/*
db_repository2/*
flask/*
PythonFlaskjQueryAjax-master/*
restt/*
search.db/*

todo-api/*
app2.db
*.pyc
config2.py
db_create2.py
db_downgrade2.py
db_upgrade2.py
db_migrate2.py
run2.py
runp.py
